body{
  background-color: #999090;
}
h1{
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
  font-size: 90px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
  align-items: center;
  text-align: center;
  color:brown
}

.cartas{
  display: flex;
  justify-content: center;
}

